.cover__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: #fff;
  transition: ease-in-out 0.3s;
  justify-content: center;
}
.cover__link:hover::before {
  opacity: 0.8;
}
.cover__link::before {
  content: "";
  background-color: #2a2c2f; /*затемнение*/
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  transition: 0.3s;
  opacity: 0.3;
}
