.cover__subtitle {
  padding: 0;
  margin: 32px auto 0;
  z-index: 2;
  max-width: 360px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 505px) {
  .cover__subtitle {
    margin: 16px auto 0;
    font-size: 14px;
    line-height: 16px;;
  }
}
