.header__logo {
  max-width: 176px;
  width: 100%;
  max-height: 52px;
  min-height: 42px;
  background-image: url("../../../images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
