.cover__link {
  position: relative;
  height: 740px;
  /* width: 1184px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-image: url("../../../images/cover__background.jpg");
  background-size: cover;
  opacity: 80%;
}

.cover__link:hover {
  opacity: 30%;
  transition: opacity .3s ease-in-out;
}
