.cover__title {
  max-width: 560px;
  padding: 0;
  margin: 0 auto;
  z-index: 2;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 505px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
